@import "compass/css3/box-shadow";

#menu-container {
  position: fixed;
  width: 100%;
  display: none;
  z-index: 70;
  background-color: rgba( 255, 255, 255, 0.85 );
  @include single-box-shadow( #d3d3d3, 0px, 0px, 12px, false, false );
}

header {
  line-height: 27px;
  padding: 27px 0;

  #wordmark {
    float: left;
  }

  #pages {
    float: right;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline;
        float: left;
        padding-right: 45px;

        a {
          line-height: 27px;
        }

      }
    }

    ul li:last-child {
      padding-right: 0;
    }
  }
}

#home {
  background: url("../img/home-bg.jpg") #000 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#portfolio {
  background: url( '../img/portfolio-bg.jpg' ) #fff no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  ul {
    list-style: none;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    // text-align: center;
    

    li {
      display: inline;
      float: left;
      margin-bottom: 27px;
      margin-right: 10px;
      width: 158px;
      height: 108px;
    }
  }

  ul li:nth-child(6n+6) {
    margin-right: 0;
  }

  .popup-gallery {
    
    img {
      margin-bottom: 27px;
    }
    
  }

  .controlArrow {
    .next, .prev {
      border-color: transparent transparent transparent rgba( 0, 0, 0, 0.5 ) !important;
    }
  }

  button.mfp-close {
    display: none;
  }

}

#about {
  background: url( '../img/about-bg.jpg' ) #000 no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;

  h1, p {
    max-width: 494px;
  }
}

#press {
  ul {
    list-style: none;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;

    li {
      display: inline;
      float: left;
      margin-right: 10px;
      width: 324px;
      height: 405px;
      border: 1px solid #d9d9d9;

      &.snippet {
        background: url( '../img/press-snippet.jpg' ) #fff no-repeat center center;  
      }

      &.pic {
        background: url( '../img/press-pic.jpg' ) #fff no-repeat center center;
      }
      

    }
  }

  ul li:last-child {
    margin-right: 0;
  }
}