body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  line-height: 27px;
}

/* Menu */
header {
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.09em;

  #wordmark {
    font-weight: 400;
    font-size: 22px;
  }

  a {
    color: #000;
    text-decoration: none;
  }
}

/* Home */
#home {
  #cta-scroll {
    text-transform: uppercase;
    color: #333;
    font-size: 20px;
    letter-spacing: 0.09em;

    p {
      color: #333;
    }
  }
}

/* Portfolio */
.mfp-title {
  font-size: smaller;
  color: #f3f3f3;
  padding-right: 50px;

  a, a:visited {
    color: #f3f3f3;
    text-decoration: underline;
  }
}

/* About */
#about {
  font-weight: 300;
  color: #fff;
  line-height: 27px;

  h1 {
    text-transform: uppercase;
    line-height: 45px;
  }
}

/* Press */
#press {
  font-weight: 300;
  font-size: 28px;
  line-height: 30px;

  .press-link {
    font-size: 24px;
    color: #3cf;
    margin: 0 15px;

    a {
      color: #3cf;  
    }
  }
}